<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta name="description" content=""/>
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css" />
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css" />
    <link rel="stylesheet" href="/stylesheets/idangerous.swiper.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.formstyler.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/custombox.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.modallink.css" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700,800' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <!-- include libraries(jQuery, bootstrap) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5cc6c0fc4b94860012b42d1d&product=inline-share-buttons' async='async'></script>

</head>
<body class="index-page">
<!-- // authorize // -->
<div class="overlay"></div>
<div class="autorize-popup">
    <div class="autorize-tabs">
        <a href="#" class="autorize-tab-a current" style="width: 145px;">Manage Booking</a>
        <a href="#" class="autorize-close"></a>
        <div class="clear"></div>
    </div>
    <section class="autorize-tab-content">
        <div class="autorize-padding">
            <h6 class="autorize-lbl">Please enter booking details below</h6>
            <select name="login_type" id="login_type">
                <option value="flight">Flight</option>
                <option value="hotel">Hotel</option>
            </select>
            <input type="text" value="" placeholder="Enter PNR">
            <input type="text" value="" placeholder="Last Name">
            <footer class="autorize-bottom">
                <button class="authorize-btn">Login</button>
                <div class="clear"></div>
            </footer>
        </div>
    </section>
    <section class="autorize-tab-content">
        <div class="autorize-padding">
            <h6 class="autorize-lbl">Register for Your Account</h6>
            <input type="text" value="" placeholder="Name">
            <input type="text" value="" placeholder="Password">
            <footer class="autorize-bottom">
                <button class="authorize-btn">Registration</button>
                <div class="clear"></div>
            </footer>
        </div>
    </section>
</div>
<!-- \\ authorize \\-->



<header id="top">
    <div class="header-a">
        <div class="wrapper-padding">
            <div class="header-phone"><span>+91-9555 - 516 - 557</span></div>
            <div class="header-account">
                <a href="#">Manage Bookings</a>
            </div>
            <div class="header-social">
                <a href="https://www.facebook.com/MapsTripOnline/" class="social-facebook"></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-b">
        <!-- // mobile menu // -->
        <div class="mobile-menu">
            <nav>
                <ul>
                    <li><a class="has-child" href="https://mapstriponline.com/index.php">Flights</a>
                    </li>
                    <li><a class="has-child" href="https://mapstriponline.com/index.php?pg=hotels">Hotels</a>
                    </li>

                    <li><a class="has-child" href="https://mapstriponline.com/index.php?pg=tour-packages">Packages</a>
                    </li>
                    <li><a class="has-child" href="https://mapstriponline.com/index.php?pg=visa">visa</a>
                    </li>
                    <li><a class="has-child" href="blog_with_sidebar.html">Blog</a>
                    </li>
                    <li><a class="has-child" href="https://mapstriponline.com/index.php?pg=about">About us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- \\ mobile menu \\ -->

        <div class="wrapper-padding">
            <div class="header-logo"><a href="/"><img alt="" src="img/logo.png" /></a></div>
            <div class="header-right">
                <div class="hdr-srch" style="margin-top: -10px;" >
                    <a href="/login/index.html" class=" srch-btn button -salmon center modal-link">Login</a>
                </div>
                <div class="hdr-srch-devider"></div>
                <a href="#" class="menu-btn"></a>
                <nav class="header-nav">
                    <ul>
                        <li><a href="https://mapstriponline.com/index.php">Flights</a>
                        </li>
                        <li><a href="https://mapstriponline.com/index.php?pg=hotels">Hotels</a>
                        </li>

                        <li><a href="https://mapstriponline.com/index.php?pg=tour-packages">Packages</a>
                        </li>
                        <li><a href="https://mapstriponline.com/index.php?pg=visa">Visa</a>
                        </li>
                        <li><a href="/blog">Blog</a>
                        </li>
                        <li><a href="https://mapstriponline.com/index.php?pg=about">About us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>


<!-- main-cont -->
<div class="main-cont">
    <div class="inner-page">
        <div class="inner-breadcrumbs">
        </div>
    </div>
    <div class="blog-page">
        <div class="content-wrapper">
            <div class="blog-sidebar">
                <div class="blog-sidebar-l">
                    <div class="blog-sidebar-lb">
                        <div class="blog-sidebar-p">
                            <div class="blog-row">
                                <!-- // -->
                                <div class="blog-post single-post">
                                    <div class="blog-post-i">
                                        <div class="blog-post-l">
                                            <div class="blog-post-date">
                                                <b><%=blog.createdAt.getDate()%></b>
                                                <span><%=moment(blog.createdAt).format('MMM')+", "+blog.createdAt.getFullYear()%></span>
                                            </div>
                                            <div class="blog-post-info">
                                                <div>by Admin</div>
                                                <div>posted in <%=blog.category%></div>
                                                <div class="shareholder">
                                                    <span>share</span>
                                                    <div class="share-popup">
                                                        <a href="#"><img alt="" src="img/share-popup-01.png"></a>
                                                        <a href="#"><img alt="" src="img/share-popup-02.png"></a>
                                                        <a href="#"><img alt="" src="img/share-popup-03.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-post-c">
                                            <div class="blog-post-cb">
                                                <div class="blog-post-p">
                                                    <div class="blog-post-title"><a href="/blog/<%=blog.stub%>"><%=blog.title%></a></div>
                                                    <div class="blog-post-preview">
                                                        <div class="blog-post-img">
                                                            <a href="/blog/<%=blog.stub%>"><img alt="" src="/<%=blog.coverImage%>" /></a>
                                                        </div>
                                                    </div>
                                                    <div class="blog-post-txt" id="blog-post-txt">

                                                    </div>
                                                    <div class="post-tags">
                                                        <span>TAGS:</span>
                                                        <% const tags=blog.tags_name.split(' ');
                                                          for(let tag of tags){
                                                        %>
                                                        <a href="#"><%=tag%></a>
                                                        <%}%>
                                                    </div>
                                                    <div class="sharethis-inline-share-buttons"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <!-- \\ -->
                            </div>
                        </div>
                    </div>
                    <br class="clear" />
                </div>
            </div>
            <div class="blog-sidebar-r">
                <!-- // widget // -->
                <div class="blog-widget search-widget">
                    <h2>Search</h2>
                    <input type="text" value="" placeholder="To search type and hit enter">
                </div>
                <!-- \\ widget \\ -->
                <!-- // widget // -->
                <div class="blog-widget recent-widget">
                    <h2>CATEGORIES</h2>
                    <nav>
                        <ul>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Travel</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- \\ widget \\ -->
                <!-- // widget // -->
                <div class="blog-widget tags-widget">
                    <h2>Tags</h2>
                    <div class="tags-row">
                        <a href="#">PEoples</a>
                        <a href="#">Design</a>
                        <a href="#">Technology</a>
                        <a href="#">Music</a>
                        <a href="#">photography</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- \\ widget \\ -->
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>
<!-- /main-cont -->

<footer class="footer-a">
    <div class="wrapper-padding">
        <div class="section" style="width: 75%">
            <div class="footer-adress">Head Office :<strong>SKYMAPS INTERNATIONAL PRIVATE LIMITED:</strong> Ayush Tours Premises
                Shop No 27, 3RD FLOOR, DEEWAN BHAGCHAND KI GALI, SONTHALI WALON KA RASTA, CHOURA RASTA, Jaipur, Rajasthan 302003, India</div>
        </div>
        <div class="section" style="width: 380px">
            <div class="list-row-i" style="float: left; padding-top: 10px">
                <nav class="marked-a">
                    <ul>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="https://mapstriponline.com/index.php?pg=about">Company</a></li>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="#">Careers</a></li>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="https://mapstriponline.com/index.php?pg=payment-panel">Make Payment</a></li>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="https://mapstriponline.com/index.php?pg=contact">Contact Us</a></li>
                        <!--                         <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="#">Support Centre</a></li>
                         -->                    </ul>
                </nav>
            </div>
        </div>
        <div class="section" style="width: 380px">
            <div class="list-row-i" style="float: left; padding-top: 10px; width: 43%">
                <nav class="marked-a">
                    <ul>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="https://mapstriponline.com/index.php?pg=tos">Terms and Conditions</a></li>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="https://mapstriponline.com/index.php?pg=refund-policy">Refund Policy</a></li>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="https://mapstriponline.com/index.php?pg=privacy">Privacy Policy</a></li>
                        <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="#">Site Map</a></li>
                        <!--                         <li style="background-image: none;"> <a style="color: #fff;text-decoration: none;" href="#">Cookie policy</a></li>
                         -->                    </ul>
                </nav>
            </div>
        </div>

        <div class="section">
            <div class="footer-lbl">newsletter sign up</div>
            <div class="footer-subscribe">
                <div class="footer-subscribe-a">
                    <input type="text" placeholder="you email" value="" />
                </div>
            </div>
            <button class="footer-subscribe-btn">Sign up</button>
        </div>
    </div>
    <div class="clear"></div>
</footer>

<footer class="footer-b" style="background-color: #ffffff;">
    <div class="wrapper-padding">
        <div class="footer-left" style="color: #141d1e;"><b>© COPYRIGHT 2017 BY SKYMAPS INTERNATIONAL PVT. LTD. ALL RIGHTS RESERVED.</b></div>
        <div class="clear"></div>
    </div>
</footer>

<!-- // scripts // -->
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/idangerous.swiper.js"></script>
<script src="/javascripts/slideInit.js"></script>
<script src="/javascripts/jquery.modallink.js"></script>
<script src="/javascripts/jqeury.appear.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/bxSlider.js"></script>
<script src="/javascripts/custom.select.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/twitterfeed.js"></script>
<script src="/javascripts/script.js"></script>

<script>
    $(".modal-link").modalLink({
        height: 600,
        width: 900,
        showClose: true
    });
</script>
<script>
    $('#blog-post-txt').html(<%- JSON.stringify(blog.data)%>);
</script>

<!-- \\ scripts \\ -->
</body>
</html>